<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticky Floating Sidebar</title>
    <link rel="stylesheet" herf="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-content">Header Content</div>
        </div>
        <div class="row main-area">
            <div class="col lg-8">
                <div class="content-area">Page content</div>
            </div>
            <div class="col lg-4">
                <div class="side-bar">Side Bar Content</div>
            </div>
        </div>
        <div class="footer-area">
            <div class="footer-content">
                Footer Content
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>